http_interactions:
- request:
    method: get
    uri: https://api.openaq.org/v3/manufacturers/1
    body:
      encoding: ''
      string: ''
    headers:
      X-API-Key: <<<test_openaq_api_key>>>
      Content-Type: application/json
  response:
    status:
      status_code: 200
      message: OK
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"meta":{"name":"openaq-api","website":"/","page":1,"limit":100,"found":1},"results":[{"id":1,"name":"OpenAQ
        admin","instruments":[{"id":1,"name":"N/A"}]}]}'
  recorded_at: 2025-02-03 22:14:35 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
