http_interactions:
- request:
    method: get
    uri: https://api.openaq.org/v3/sensors/5
    body:
      encoding: ''
      string: ''
    headers:
      X-API-Key: <<<test_openaq_api_key>>>
      Content-Type: application/json
  response:
    status:
      status_code: 200
      message: OK
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"meta":{"name":"openaq-api","website":"/","page":1,"limit":100,"found":1},"results":[{"id":5,"name":"pm25
        µg/m³","parameter":{"id":2,"name":"pm25","units":"µg/m³","displayName":"PM2.5"},"datetimeFirst":null,"datetimeLast":null,"coverage":null,"latest":null,"summary":null}]}'
  recorded_at: 2025-02-03 22:14:46 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
