http_interactions:
- request:
    method: GET
    uri: https://api.openaq.org/v3/countries/9
  response:
    status: 200
    headers:
      content-type: application/json
    body:
      string: '{"meta":{"name":"openaq-api","website":"/","page":1,"limit":100,"found":1},"results":[{"id":9,"code":"IN","name":"India","datetimeFirst":"2023-02-28T19:00:00Z","datetimeLast":"2023-03-31T19:00:00Z","parameters":[{"id":2,"name":"pm25","units":"µg/m³","displayName":null}]}]}'
  recorded_at: 2025-07-25 16:42:57
recorded_with: VCR-vcr/2.0.0
