http_interactions:
- request:
    method: GET
    uri: https://api.openaq.org/v3/sensors/5
  response:
    status: 200
    headers:
      content-type: application/json
    body:
      string: '{"meta":{"name":"openaq-api","website":"/","page":1,"limit":100,"found":1},"results":[{"id":5,"name":"pm25
        µg/m³","parameter":{"id":2,"name":"pm25","units":"µg/m³","displayName":"PM2.5"},"datetimeFirst":{"utc":"2023-02-28T11:30:00Z","local":"2023-03-01T00:30:00+13:00"},"datetimeLast":{"utc":"2023-03-31T11:30:00Z","local":"2023-04-01T00:30:00+13:00"},"coverage":{"expectedCount":2,"expectedInterval":"01:00:00","observedCount":1489,"observedInterval":"744:30:00","percentComplete":74450.0,"percentCoverage":74450.0,"datetimeFrom":{"utc":"2023-02-28T11:30:00Z","local":"2023-03-01T00:30:00+13:00"},"datetimeTo":{"utc":"2023-03-31T11:30:00Z","local":"2023-04-01T00:30:00+13:00"}},"latest":{"datetime":{"utc":"2023-03-31T11:30:00Z","local":"2023-04-01T00:30:00+13:00"},"value":1.0,"coordinates":{"latitude":-20.248716,"longitude":185.199922}},"summary":{"min":1.0,"q02":null,"q25":null,"median":null,"q75":null,"q98":null,"max":31.23,"avg":16.104848891873733,"sd":8.953112624444925}}]}'
  recorded_at: 2025-07-25 16:43:00
recorded_with: VCR-vcr/2.0.0
