http_interactions:
- request:
    method: get
    uri: https://api.openaq.org/v3/providers/119
    body:
      encoding: ''
      string: ''
    headers:
      X-API-Key: <<<test_openaq_api_key>>>
      Content-Type: application/json
  response:
    status:
      status_code: 200
      message: OK
    headers:
      content-type: application/json
      x-ratelimit-limit: '100'
      x-ratelimit-remaining: '98'
      x-ratelimit-used: '2'
      x-ratelimit-reset: '59'
    body:
      encoding: ''
      file: no
      string: '{"meta":{"name":"openaq-api","website":"/","page":1,"limit":100,"found":1},"results":[{"id":119,"name":"AirNow","sourceName":"AirNow","exportPrefix":"airnow","datetimeAdded":"2025-01-13T23:09:48.596722Z","datetimeFirst":"2021-12-15T10:00:00Z","datetimeLast":"2025-01-14T09:30:00Z","entitiesId":1,"parameters":[{"id":2,"name":"pm25","units":"µg/m³","displayName":null}],"bbox":{"type":"Polygon","coordinates":[[[-151.76306,-20.248716],[-151.76306,51.487236],[185.199922,51.487236],[185.199922,-20.248716],[-151.76306,-20.248716]]]}}]}'
  recorded_at: 2025-01-23 23:25:07 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
