http_interactions:
- request:
    method: get
    uri: https://api.openaq.org/v3/licenses/30
    body:
      encoding: ''
      string: ''
    headers:
      X-API-Key: <<<test_openaq_api_key>>>
      Content-Type: application/json
  response:
    status:
      status_code: 200
      message: OK
    headers:
      content-type: application/json
      x-ratelimit-limit: '100'
      x-ratelimit-remaining: '97'
      x-ratelimit-used: '3'
      x-ratelimit-reset: '60'
    body:
      encoding: ''
      file: no
      string: '{"meta":{"name":"openaq-api","website":"/","page":1,"limit":100,"found":1},"results":[{"id":30,"name":"CC
        BY-SA 4.0 DEED","commercialUseAllowed":true,"attributionRequired":true,"shareAlikeRequired":true,"modificationAllowed":true,"redistributionAllowed":true,"sourceUrl":"https://creativecommons.org/licenses/by-sa/4.0/"}]}'
  recorded_at: 2025-01-23 22:20:33 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
