http_interactions:
- request:
    method: GET
    uri: https://api.openaq.org/v3/providers/119
  response:
    status: 200
    headers:
      content-type: application/json
    body:
      string: '{"meta":{"name":"openaq-api","website":"/","page":1,"limit":100,"found":1},"results":[{"id":119,"name":"AirNow","sourceName":"AirNow","exportPrefix":"airnow","datetimeAdded":"2025-07-08T15:18:47.959439Z","datetimeFirst":"2021-12-15T10:00:00Z","datetimeLast":"2025-07-09T01:30:00Z","entitiesId":1,"parameters":[{"id":2,"name":"pm25","units":"µg/m³","displayName":null}],"bbox":{"type":"Polygon","coordinates":[[[-151.76306,-20.248716],[-151.76306,51.487236],[185.199922,51.487236],[185.199922,-20.248716],[-151.76306,-20.248716]]]}}]}'
  recorded_at: 2025-07-25 16:43:00
recorded_with: VCR-vcr/2.0.0
