http_interactions:
- request:
    method: GET
    uri: https://api.openaq.org/v3/licenses/30
  response:
    status: 200
    headers:
      content-type: application/json
    body:
      string: '{"meta":{"name":"openaq-api","website":"/","page":1,"limit":100,"found":1},"results":[{"id":30,"name":"CC
        BY-SA 4.0 DEED","commercialUseAllowed":true,"attributionRequired":true,"shareAlikeRequired":true,"modificationAllowed":true,"redistributionAllowed":true,"sourceUrl":"https://creativecommons.org/licenses/by-sa/4.0/"}]}'
  recorded_at: 2025-07-25 16:42:59
recorded_with: VCR-vcr/2.0.0
