http_interactions:
- request:
    method: get
    uri: https://api.openaq.org/v3/parameters/2
    body:
      encoding: ''
      string: ''
    headers:
      X-API-Key: <<<test_openaq_api_key>>>
      Content-Type: application/json
  response:
    status:
      status_code: 200
      message: OK
    headers:
      content-type: application/json
      x-ratelimit-limit: '100'
      x-ratelimit-remaining: '99'
      x-ratelimit-used: '1'
      x-ratelimit-reset: '60'
    body:
      encoding: ''
      file: no
      string: '{"meta":{"name":"openaq-api","website":"/","page":1,"limit":100,"found":1},"results":[{"id":2,"name":"pm25","units":"µg/m³","displayName":"PM2.5","description":"Particulate
        matter less than 2.5 micrometers in diameter mass concentration"}]}'
  recorded_at: 2025-01-23 22:28:40 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
