http_interactions:
- request:
    method: get
    uri: https://api.openaq.org/v3/countries/9
    body:
      encoding: ''
      string: ''
    headers:
      X-API-Key: <<<test_openaq_api_key>>>
      Content-Type: application/json
  response:
    status:
      status_code: 200
      message: OK
    headers:
      content-type: application/json
      x-ratelimit-limit: '100'
      x-ratelimit-remaining: '99'
      x-ratelimit-used: '1'
      x-ratelimit-reset: '60'
    body:
      encoding: ''
      file: no
      string: '{"meta":{"name":"openaq-api","website":"/","page":1,"limit":100,"found":1},"results":[{"id":9,"code":"IN","name":"India","datetimeFirst":"2023-02-28T19:00:00Z","datetimeLast":"2023-03-31T19:00:00Z","parameters":[{"id":2,"name":"pm25","units":"µg/m³","displayName":null}]}]}'
  recorded_at: 2025-01-17 16:42:26 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
