http_interactions:
- request:
    method: get
    uri: https://api.openaq.org/v3/instruments/9
    body:
      encoding: ''
      string: ''
    headers:
      X-API-Key: <<<test_openaq_api_key>>>
      Content-Type: application/json
  response:
    status:
      status_code: 200
      message: OK
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"meta":{"name":"openaq-api","website":"/","page":1,"limit":100,"found":1},"results":[{"id":9,"name":"BEACO2N
        Sensor","isMonitor":false,"manufacturer":{"id":13,"name":"University of California,
        Berkeley"}}]}'
  recorded_at: 2025-02-03 22:09:22 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
