http_interactions:
- request:
    method: GET
    uri: https://api.openaq.org/v3/sensors/3/measurements?limit=5&page=1
  response:
    status: 200
    headers:
      content-type: application/json
    body:
      string: '{"meta":{"name":"openaq-api","website":"/","page":1,"limit":5,"found":">5"},"results":[{"value":1.0,"flagInfo":{"hasFlags":false},"parameter":{"id":2,"name":"pm25","units":"µg/m³","displayName":null},"period":{"label":"raw","interval":"00:30:00","datetimeFrom":{"utc":"2023-03-01T05:00:00Z","local":"2023-03-01T00:00:00-05:00"},"datetimeTo":{"utc":"2023-03-01T05:30:00Z","local":"2023-03-01T00:30:00-05:00"}},"coordinates":null,"summary":null,"coverage":{"expectedCount":1,"expectedInterval":"00:30:00","observedCount":1,"observedInterval":"00:30:00","percentComplete":100.0,"percentCoverage":100.0,"datetimeFrom":{"utc":"2023-03-01T05:00:00Z","local":"2023-03-01T00:00:00-05:00"},"datetimeTo":{"utc":"2023-03-01T05:30:00Z","local":"2023-03-01T00:30:00-05:00"}}},{"value":1.0,"flagInfo":{"hasFlags":false},"parameter":{"id":2,"name":"pm25","units":"µg/m³","displayName":null},"period":{"label":"raw","interval":"00:30:00","datetimeFrom":{"utc":"2023-03-01T05:30:00Z","local":"2023-03-01T00:30:00-05:00"},"datetimeTo":{"utc":"2023-03-01T06:00:00Z","local":"2023-03-01T01:00:00-05:00"}},"coordin[...]
