http_interactions:
- request:
    method: get
    uri: https://api.openaq.org/v3/locations/1/latest
    body:
      encoding: ''
      string: ''
    headers:
      X-API-Key: <<<test_openaq_api_key>>>
      Content-Type: application/json
  response:
    status:
      status_code: 200
      message: OK
    headers:
      content-type: application/json
      x-ratelimit-limit: '100'
      x-ratelimit-remaining: '98'
      x-ratelimit-used: '2'
      x-ratelimit-reset: '59'
    body:
      encoding: ''
      file: no
      string: '{"meta":{"name":"openaq-api","website":"/","page":1,"limit":100,"found":1},"results":[{"datetime":{"utc":"2025-01-14T09:30:00Z","local":"2025-01-13T23:30:00-10:00"},"value":13.23,"coordinates":{"latitude":-16.51516,"longitude":-151.76306},"sensorsId":1,"locationsId":1}]}'
  recorded_at: 2025-01-23 21:31:41 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
