http_interactions:
- request:
    method: GET
    uri: https://api.openaq.org/v3/parameters/2/latest?limit=100&page=1
  response:
    status: 200
    headers:
      content-type: application/json
    body:
      string: '{"meta":{"name":"openaq-api","website":"/","page":1,"limit":100,"found":7},"results":[{"datetime":{"utc":"2025-07-09T01:30:00Z","local":"2025-07-08T15:30:00-10:00"},"value":8.15,"coordinates":{"latitude":-16.51516,"longitude":-151.76306},"sensorsId":1,"locationsId":1},{"datetime":{"utc":"2023-04-01T07:30:00Z","local":"2023-04-01T00:30:00-07:00"},"value":1.0,"coordinates":{"latitude":44.75228,"longitude":-121.8418},"sensorsId":2,"locationsId":2},{"datetime":{"utc":"2023-04-01T04:30:00Z","local":"2023-04-01T00:30:00-04:00"},"value":1.0,"coordinates":{"latitude":42.315,"longitude":-71.104},"sensorsId":3,"locationsId":3},{"datetime":{"utc":"2023-03-31T23:30:00Z","local":"2023-04-01T00:30:00+01:00"},"value":1.0,"coordinates":{"latitude":51.487236,"longitude":-0.107389},"sensorsId":4,"locationsId":4},{"datetime":{"utc":"2023-03-31T11:30:00Z","local":"2023-04-01T00:30:00+13:00"},"value":1.0,"coordinates":{"latitude":-20.248716,"longitude":185.199922},"sensorsId":5,"locationsId":5},{"datetime":{"utc":"2023-03-31T19:00:00Z","local":"2023-04-01T00:30:00+05:30"},"value":1.0,"coordinates":{"latitude":22.70763,"longitude":75.85257},"sensorsId":6,"locationsId":6},{"datetime":{"utc":"2023-04-01T08:00:00Z","local":"2023-04-01T01:00:00-07:00"},"value":1.0,"coordinates":{"latitude":44.75228,"longitude":-121.8418},"sensorsId":7,"locationsId":7}]}'
  recorded_at: 2025-07-25 16:42:58
recorded_with: VCR-vcr/2.0.0
