http_interactions:
- request:
    method: GET
    uri: https://api.openaq.org/v3/parameters?limit=100&page=1
  response:
    status: 200
    headers:
      content-type: application/json
    body:
      string: '{"meta":{"name":"openaq-api","website":"/","page":1,"limit":100,"found":1},"results":[{"id":2,"name":"pm25","units":"µg/m³","displayName":"PM2.5","description":"Particulate
        matter less than 2.5 micrometers in diameter mass concentration"}]}'
  recorded_at: 2025-07-25 16:42:59
recorded_with: VCR-vcr/2.0.0
