http_interactions:
- request:
    method: get
    uri: https://api.openaq.org/v3/instruments?limit=100&page=1
    body:
      encoding: ''
      string: ''
    headers:
      X-API-Key: <<<test_openaq_api_key>>>
      Content-Type: application/json
  response:
    status:
      status_code: 200
      message: OK
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"meta":{"name":"openaq-api","website":"/","page":1,"limit":100,"found":12},"results":[{"id":1,"name":"N/A","isMonitor":false,"manufacturer":{"id":1,"name":"OpenAQ
        admin"}},{"id":2,"name":"Government Monitor","isMonitor":true,"manufacturer":{"id":4,"name":"Unknown
        Governmental Organization"}},{"id":4,"name":"Clarity Sensor","isMonitor":false,"manufacturer":{"id":9,"name":"Clarity"}},{"id":5,"name":"HabitatMap
        Sensor","isMonitor":false,"manufacturer":{"id":11,"name":"HabitatMap"}},{"id":6,"name":"Senstate
        Sensor","isMonitor":false,"manufacturer":{"id":10,"name":"Senstate"}},{"id":7,"name":"AirGradient
        Sensor","isMonitor":false,"manufacturer":{"id":12,"name":"AirGradient"}},{"id":9,"name":"BEACO2N
        Sensor","isMonitor":false,"manufacturer":{"id":13,"name":"University of California,
        Berkeley"}},{"id":10,"name":"RAMP Sensor","isMonitor":false,"manufacturer":{"id":14,"name":"Carnegie
        Mellon University"}},{"id":11,"name":"Aerosol Black Carbon Detector (ABCD)","isMonitor":false,"manufacturer":{"id":13,"name":"University
        of California, Berkeley"}},{"id":13,"name":"AIO 2","isMonitor":true,"manufacturer":{"id":5020,"name":"MetOne"}},{"id":14,"name":"BAM
        1020","isMonitor":true,"manufacturer":{"id":5020,"name":"MetOne"}},{"id":15,"name":"Serinus
        30","isMonitor":true,"manufacturer":{"id":5022,"name":"Ecotech"}}]}'
  recorded_at: 2025-02-03 22:09:22 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
