http_interactions:
- request:
    method: GET
    uri: https://api.openaq.org/v3/countries?limit=100&page=1
  response:
    status: 200
    headers:
      content-type: application/json
    body:
      string: '{"meta":{"name":"openaq-api","website":"/","page":1,"limit":100,"found":4},"results":[{"id":9,"code":"IN","name":"India","datetimeFirst":"2023-02-28T19:00:00Z","datetimeLast":"2023-03-31T19:00:00Z","parameters":[{"id":2,"name":"pm25","units":"µg/m³","displayName":null}]},{"id":79,"code":"GB","name":"United
        Kingdom","datetimeFirst":"2023-03-01T00:30:00Z","datetimeLast":"2023-03-31T23:30:00Z","parameters":[{"id":2,"name":"pm25","units":"µg/m³","displayName":null}]},{"id":155,"code":"US","name":"United
        States","datetimeFirst":"2023-03-01T05:30:00Z","datetimeLast":"2023-04-01T08:00:00Z","parameters":[{"id":2,"name":"pm25","units":"µg/m³","displayName":null}]},{"id":194,"code":"PF","name":"French
        Polynesia","datetimeFirst":"2021-12-15T10:00:00Z","datetimeLast":"2025-07-09T01:30:00Z","parameters":[{"id":2,"name":"pm25","units":"µg/m³","displayName":null}]}]}'
  recorded_at: 2025-07-25 16:42:58
recorded_with: VCR-vcr/2.0.0
