http_interactions:
- request:
    method: GET
    uri: https://api.openaq.org/v3/locations/3/sensors
  response:
    status: 200
    headers:
      content-type: application/json
    body:
      string: '{"meta":{"name":"openaq-api","website":"/","page":1,"limit":100,"found":1},"results":[{"id":3,"name":"pm25
        µg/m³","parameter":{"id":2,"name":"pm25","units":"µg/m³","displayName":"PM2.5"},"datetimeFirst":{"utc":"2023-03-01T05:30:00Z","local":"2023-03-01T00:30:00-05:00"},"datetimeLast":{"utc":"2023-04-01T04:30:00Z","local":"2023-04-01T00:30:00-04:00"},"coverage":{"expectedCount":2,"expectedInterval":"01:00:00","observedCount":1487,"observedInterval":"743:30:00","percentComplete":74350.0,"percentCoverage":74350.0,"datetimeFrom":{"utc":"2023-03-01T05:30:00Z","local":"2023-03-01T00:30:00-05:00"},"datetimeTo":{"utc":"2023-04-01T04:30:00Z","local":"2023-04-01T00:30:00-04:00"}},"latest":{"datetime":{"utc":"2023-04-01T04:30:00Z","local":"2023-04-01T00:30:00-04:00"},"value":1.0,"coordinates":{"latitude":42.315,"longitude":-71.104}},"summary":{"min":1.0,"q02":null,"q25":null,"median":null,"q75":null,"q98":null,"max":31.23,"avg":16.110336247478138,"sd":8.957883534095243}}]}'
  recorded_at: 2025-07-25 16:49:13
recorded_with: VCR-vcr/2.0.0
