http_interactions:
- request:
    method: GET
    uri: https://api.openaq.org/v3/licenses?limit=100&page=1
  response:
    status: 200
    headers:
      content-type: application/json
    body:
      string: '{"meta":{"name":"openaq-api","website":"/","page":1,"limit":100,"found":11},"results":[{"id":30,"name":"CC
        BY-SA 4.0 DEED","commercialUseAllowed":true,"attributionRequired":true,"shareAlikeRequired":true,"modificationAllowed":true,"redistributionAllowed":true,"sourceUrl":"https://creativecommons.org/licenses/by-sa/4.0/"},{"id":31,"name":"Taiwan
        Open Government Data License","commercialUseAllowed":true,"attributionRequired":true,"shareAlikeRequired":true,"modificationAllowed":true,"redistributionAllowed":true,"sourceUrl":"https://data.gov.tw/en/license"},{"id":32,"name":"CC
        BY 2.5 DEED","commercialUseAllowed":true,"attributionRequired":true,"shareAlikeRequired":true,"modificationAllowed":true,"redistributionAllowed":true,"sourceUrl":"https://creat[...]
