http_interactions:
- request:
    method: GET
    uri: https://api.openaq.org/v3/locations/1/latest
  response:
    status: 200
    headers:
      content-type: application/json
    body:
      string: '{"meta":{"name":"openaq-api","website":"/","page":1,"limit":100,"found":1},"results":[{"datetime":{"utc":"2025-07-09T01:30:00Z","local":"2025-07-08T15:30:00-10:00"},"value":8.15,"coordinates":{"latitude":-16.51516,"longitude":-151.76306},"sensorsId":1,"locationsId":1}]}'
  recorded_at: 2025-07-25 16:42:59
recorded_with: VCR-vcr/2.0.0
