http_interactions:
- request:
    method: get
    uri: https://api.openaq.org/v3/licenses?limit=100&page=1
    body:
      encoding: ''
      string: ''
    headers:
      X-API-Key: <<<test_openaq_api_key>>>
      Content-Type: application/json
  response:
    status:
      status_code: 200
      message: OK
    headers:
      content-type: application/json
      x-ratelimit-limit: '100'
      x-ratelimit-remaining: '98'
      x-ratelimit-used: '2'
      x-ratelimit-reset: '60'
    body:
      encoding: ''
      file: no
      string: '{"meta":{"name":"openaq-api","website":"/","page":1,"limit":100,"found":11},"results":[{"id":30,"name":"CC
        BY-SA 4.0 DEED","commercialUseAllowed":true,"attributionRequired":true,"shareAlikeRequired":true,"modificationAllowed":true,"redistributionAllowed":true,"sourceUrl":"https://creativecommons.org/licenses/by-sa/4.0/"},{"id":31,"name":"Taiwan
        Open Government Data License","commercialUseAllowed":true,"attributionRequired":true,"shareAlikeRequired":true,"modificationAllowed":true,"redistributionAllowed":true,"sourceUrl":"https://data.gov.tw/en/license"},{"id":32,"name":"CC
        BY 2.5 DEED","commercialUseAllowed":true,"attributionRequired":true,"shareAlikeRequired":true,"modificationAllowed":true,"redistributionAllowed":true,"sourceUrl":"https://creat[...]
