http_interactions:
- request:
    method: GET
    uri: https://api.openaq.org/v3/locations?limit=100&page=1
  response:
    status: 200
    headers:
      content-type: application/json
    body:
      string: '{"meta":{"name":"openaq-api","website":"/","page":1,"limit":100,"found":6},"results":[{"id":1,"name":"testing
        site 1","locality":null,"timezone":"Pacific/Tahiti","country":{"id":194,"code":"PF","name":"French
        Polynesia"},"owner":{"id":1,"name":"OpenAQ admin"},"provider":{"id":119,"name":"AirNow"},"isMobile":false,"isMonitor":true,"instruments":[{"id":2,"name":"Government
        Monitor"}],"sensors":[{"id":1,"name":"pm25 µg/m³","parameter":{"id":2,"name":"pm25","units":"µg/m³","displayName":"PM2.5"}}],"coordinates":{"latitude":-16.51516,"longitude":-151.76306},"licenses":[{"id":33,"name":"US
        Public Domain","attribution":{"name":"OpenAQ admin","url":null},"dateFrom":null,"dateTo":null}],"bounds":[-151.76306,-16.51516,-151.76306,-16.51516],"distance":null,"datetimeFirst":{"utc":"2021-12-15T10:00:00Z","local":"2021-12-15T00:00:00-10:00"},"datetimeLast":{"utc":"2025-07-09T01:30:00Z","local":"2025-07-08T15:30:00-10:00"}},{"id":2,"name":"testing
        site 2","locality":null,"timezone":"America/Los_Angeles","country":{"id":155,"code":"US","name":"United
        States"},"owner":{"id":1,"name":"OpenAQ admin"},"provider":{"id":119,"name":"AirNow"},"isMobile":false,"isMonitor":true,"instruments":[{"id":2,"name":"Government
        Monitor"}],"sensors":[{"id":2,"name":"pm25 µg/m³","parameter":{"id":2,"name":"pm25","units":"µg/m³","displayName":"PM2[...]
