http_interactions:
- request:
    method: GET
    uri: https://api.openaq.org/v3/manufacturers/8/instruments
  response:
    status: 200
    headers:
      content-type: application/json
    body:
      string: '{"meta":{"name":"openaq-api","website":"/","page":1,"limit":100,"found":1},"results":[{"id":2,"name":"Government
        Monitor","isMonitor":true,"manufacturer":{"id":8,"name":"Default Instrument
        Organization"}}]}'
  recorded_at: 2025-11-21 18:13:31
recorded_with: VCR-vcr/2.0.0
